@use '@/assets/layout/layout';
@use 'primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
  font-family: 'Inter', sans-serif;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 24px;
}
